[submodule "vendor/flutter"]
	path = vendor/flutter
	url = https://github.com/flutter/flutter
[submodule "vendor/when-flutter"]
	path = vendor/when-flutter
	url = https://github.com/anaisbetts/when-flutter
